body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;

  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(255, 217, 15, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*,
html,
body {
  padding: 0;
  margin: 0;
}

div,
p,
a,
span,
input,
button,
h1,
h2 {
  padding: 0;
  margin: 0;
}
